# macOS
.DS_Store

# IntelliJ
.idea/
*.iml
out/

# VS Code
.vscode/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Maven
.mvn/

# Logs
*.log

# Java artifacts
*.class
hs_err_pid*
replay_pid*

# Spring Boot
target/

# Archives
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
